$primary-color: #ffffff;
$primary-background-color: #141414;
$primary-logo: url('/organizations/synap/media/images/primary-logo.png');

$secondary-color: #07679d;
$secondary-background-color: #facb1d;
$secondary-logo: url('/organizations/synap/media/images/secondary-logo.png');

$tertiary-color: #ffffff;
$tertiary-background-color: #64a1c2;
$tertiary-logo: url('/organizations/synap/media/images/tertiary-logo.png');

$default-color: rgb(110, 112, 119);
$default-background-color: #ffffff;
$default-logo: url('/organizations/synap/media/images/default-logo.png');


